@-ms-viewport {
  width: device-width;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #cbcbcb;
  --light-border: #ebebeb;
  --red: #db3739;
  --lime: #80cd28;
  --green: #40b93f;
}
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
  border: 3px;
  font: normal normal normal 16px / 1 'Hind Madurai', sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
body div#body {
  position: relative;
  top: 275px;
  flex: 1;
  z-index: -1;
}
h1 {
  font: normal normal bold 60px/1.4 'Bubblegum Sans', serif;
  color: #fff;
}
h2 {
  font: normal normal bold 52px/1.4 'Bubblegum Sans', serif;
  color: #fff;
}

h3 {
  font: normal normal normal 40px/1.4 'Quicksand', sans-serif;
  color: #fff;
}

h4 {
  font: normal normal normal 28px/1.4 'Quicksand', serif;
  color: #fff;
}
h4 em {
  font: normal normal bold 32px/1 'Quicksand', sans-serif;
  color: #c65e8f;
}

h5 {
  font: normal normal normal 21px/1.4 'Hind Madurai', serif;
  color: #fff;
}
h5 em {
  font: normal normal normal 21px/1.4 'Hind Madurai', serif;
  color: #c65e8f;
}
p b {
  font: normal normal bold 18px/1 'Hind Madurai', sans-serif;
  color: #fff;
}
p {
  color: #fff;
}
nav a, ul li a,
a {
  text-decoration: none;
  cursor: pointer;
}
ul li {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*-----------------------BORDERS ----*/
.border-red {
  border: 2px solid var(--red);
}
.border-blue {
  border: 2px solid var(--blue);
}
.border-green {
  border: 2px solid var(--green);
}
.border-orange {
  border: 2px solid var(--orange);
}
/*-----------------------border end ----*/
body > header.scroll-in-place {
  background-color: transparent;
}
body > header.scroll-in-place.nav-scroll {
  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(2px 4px 6px black);
}
body > header {
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 1%;
  width: 100%;
}
body > header > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 2%;
}
body > header figure {
  width: 50%;
  display: flex;
  align-items: center;
  grid-gap: 8px;
}
body > header figure img {
  width: 33%; /*120px by 120px */
}




/*-----------------------Media Queries ----*/
@media screen and (min-width:576px){

}
@media screen and (min-width:768px){
  
}
@media screen and (min-width:992px){
  
}
@media screen and (min-width:1200px){
  
}
@media screen and (min-width:1400px){
  
}
@media screen and (min-width:1600px){
  
}
@media screen and (min-width:2000px){
  
}
@media screen and (min-width:2400px){
  
}
