figure.wave h1#activityHeading:has(.tenis),
figure.wave h1#activityHeading:has(.padel) {
  height: 100px;
  top: 0;
}
figure.wave h1.torneo {
  height: 100px;
  top: 100px;
}
body:has(.tenis) div#body,
body:has(.padel) div#body,
body:has(.torneo) div#body {
  top: 50px;
}
body:has(.torneo) div#body {
  padding: 0;
  top: 50px;
}
section#seOfreceTenis {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#seOfreceTenis div {
  width: 100%;
}
section#seOfreceTenis div b {
  text-align: left;
}
section#seOfreceTenis p {
  line-height: 1.2;
  padding: 0;
  margin: 0;
  text-indent: 15px;
  margin-top: 15px;
  font-weight: 100;
  font-size: medium;
}
section#seOfreceTenis p em {
  font-size: smaller;
  font-style: italic;
  color: var(--black);
  font-weight: 300;
  margin-left: 15px;
  white-space: pre;
}
section#seOfreceTenis p em {
  font-size: smaller;
  font-style: italic;
  color: var(--black);
  font-weight: 300;
  margin-left: 15px;
  white-space: pre;
}
body:has(.torneo) div#body > figure:not(figure.footer-wave) {
  position: relative;
  top: 15px;
  margin: 0;
}
body:has(.torneo) div#body main h6 {
  margin: 0 3% 20px auto;
}
body:has(.torneo) div#body section main h2 {
  text-align: center;
}
body:has(.torneo) div#body section main h6 {
  margin: -35px 3% 20px auto;
}
body:has(.torneo) div#body footer section:last-child {
  position: relative;
  top: -5px;
}
@media screen and (min-width: 576px) {
  body:has(.tenis) div#body,
  body:has(.padel) div#body {
    top: 0;
  }
  body:has(.torneo) div#body > figure:not(figure.footer-wave) {
    top: -25px;
    height: 300px;
  }
  body:has(.torneo) div#body main {
    top: -5px;
  }
  section#seOfreceTenis p em {
    margin-left: 0;
  }
  body:has(.torneo) div#body section main h6 {
    margin: -35px 3% 50px auto;
  }
  body:has(.torneo) div#body section#tour ul {
    margin: 0 auto 50px auto;
  }
}
@media screen and (min-width: 768px) {
  figure.wave h1.torneo {
    height: 100px;
    top: 125px;
  }
  main h6 {
    padding: 1% 5%;
  }
  body:has(.torneo) div#body section main h2 {
    text-align: left;
    width: 90%;
  }
  body:has(.tenis) div#body,
  body:has(.padel) div#body {
    top: 215px;
  }
  body:has(.torneo) div#body {
    top: 290px;
  }
  figure.wave h1#activityHeading:has(.tenis),
  figure.wave h1#activityHeading:has(.padel) {
    top: -15px;
  }
  body:has(.torneo) div#body section#date {
    top: 0;
    margin-bottom: 0px;
  }
  body:has(.torneo) div#body section#actividades h4 {
    margin-left: 0;
  }

  /* body:has(.padel) div#body section#tour,
  body:has(.torneo) div#body section#tour {
    bottom: -335px;
  } */
  body:has(.torneo) div#body > figure:not(figure.footer-wave) {
    padding: 0 5%;
  }
  body:has(.torneo) div#body figure.footer-wave {
    left: -145px;
  }
  body:has(.torneo) div#body footer section:last-child {
    top: 13px;
  }
  body:has(.torneo) div#body footer section:first-child {
    padding: 3% 0;
  }
  body:has(.torneo) div#body footer section:last-child {
    justify-content: right;
    width: 100%;
  }
}
@media screen and (min-width: 910px) and (max-width: 1214px) {
  main.grid ul > *:nth-child(9n-1) {
    justify-self: center;
    text-align: center;
  }
  main.grid ul > *:nth-child(9n) {
    justify-self: end;
    text-align: right;
  }
  main.grid ul > *:nth-child(9n-1):nth-last-of-type(1) {
    grid-column: span 2;
  }
}
@media screen and (min-width: 992px) {
  figure.wave h1.torneo {
    top: 120px;
  }
  body:has(.torneo) div#body main h6 {
    margin: 0 auto 20px auto;
  }
  body:has(.torneo) div#body section main h6 {
    margin: -35px auto 50px auto;
  }
  /* body:has(.tenis) div#body section#actividades,
  body:has(.padel) div#body section#actividades {
    top: 0;
    padding: 0;
    height: 550px;
  } */
  body:has(.torneo) div#body section#actividades {
    height: 490px;
  }
  body:has(.torneo) div#body section#tour {
    bottom: -370px;
    height: 335px;
  }
  /* body:has(.tenis) div#body figure.footer-wave,
  body:has(.padel) div#body figure.footer-wave {
    bottom: -445px;
  } */
  body:has(.torneo) div#body figure.footer-wave {
    left: -200px;
    bottom: -496px;
  }
  /* body:has(.tenis) div#body footer,
  body:has(.padel) div#body footer {
    bottom: -403px;
  } */
  body:has(.torneo) div#body footer {
    bottom: -450px;
  }
}
@media screen and (min-width: 1200px) {
  main.grid ul {
    max-width: unset;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  section#seOfreceTenis {
    margin-left: 50px;
  }
  body:has(.torneo) div#body section#tour {
    bottom: -285px;
    height: 285px;
  }
  body:has(.tenis) div#body section#actividades,
  body:has(.padel) div#body section#actividades {
    padding: 0;
    height: 515px;
  }
  body:has(.torneo) div#body section#date {
    top: -65px;
    margin-bottom: -50px;
  }
  body:has(.tenis) div#body section#tour,
  body:has(.padel) div#body section#tour {
    height: 300px;
  }
  body:has(.torneo) div#body figure.footer-wave {
    left: -100px;
    bottom: -415px;
  }
  body:has(.torneo) div#body footer {
    bottom: -365px;
  }
}
@media screen and (min-width: 1400px) {
  figure.wave h1.torneo {
    top: 180px;
  }
  body:has(.tenis) div#body,
  body:has(.padel) div#body {
    top: 325px;
  }
  body:has(.torneo) div#body {
    top: 375px;
  }
  /* body:has(.tenis) div#body section#actividades,
  body:has(.padel) div#body section#actividades {
    height: 475px;
  } */
  body:has(.torneo) div#body section#date {
    top: 0;
    margin-bottom: 0;
  }
  body:has(.tenis) div#body section#tour,
  body:has(.padel) div#body section#tour {
    height: 280px;
  }
  body:has(.torneo) div#body section#tour {
    bottom: -350px;
  }
  body:has(.tenis) div#body figure.footer-wave,
  body:has(.padel) div#body figure.footer-wave {
    bottom: -490px;
    left: -65px;
  }
  body:has(.torneo) div#body figure.footer-wave {
    left: -100px;
    bottom: -475px;
  }
  body:has(.tenis) div#body footer {
    bottom: -435px;
  }
  body:has(.torneo) div#body footer {
    bottom: -430px;
  }
  footer {
    bottom: -447px;
  }
}
@media screen and (min-width: 1600px) {
  figure.wave h1.torneo {
    top: 170px;
  }
  /* body:has(.tenis) div#body footer,
  body:has(.padel) div#body footer {
    bottom: -412px;
  } */
}
@media screen and (min-width: 1600px) and (max-width: 2182px) {
  main.grid ul > *:nth-child(9n-1) {
    justify-self: center;
    text-align: center;
  }
  main.grid ul > *:nth-child(9n) {
    justify-self: end;
    text-align: right;
  }
  main.grid ul > *:nth-child(9n-1):nth-last-of-type(1) {
    grid-column: span 2;
  }
}
@media screen and (min-width: 1800px) {
  body:has(.torneo) div#body main h6 {
    padding: 1% 8%;
  }
  body:has(.torneo) div#body section main h2 {
    width: 84%;
  }
  main h6 {
    padding: 1% 8%;
  }
  body:has(.torneo) div#body section#actividades {
    height: 554px;
  }
  body:has(.tenis) div#body section#tour,
  body:has(.padel) div#body section#tour {
    height: 230px;
  }
  body:has(.torneo) div#body section#tour {
    bottom: -338px;
  }
  body:has(.torneo) div#body figure.footer-wave {
    bottom: -405px;
  }
  body:has(.torneo) div#body footer {
    bottom: -355px;
  }
  body:has(.tenis) div#body figure.footer-wave,
  body:has(.padel) div#body figure.footer-wave {
    bottom: -530px;
  }
  body:has(.tenis) div#body footer,
  body:has(.padel) div#body footer {
    bottom: -480px;
  }
}
@media screen and (min-width: 2000px) {
  body:has(.torneo) div#body > figure:not(figure.footer-wave) {
    padding: 0 8%;
  }
  main h6,
  body:has(.torneo) div#body main h6 {
    padding: 1% 13%;
  }
  body:has(.torneo) div#body section main h2 {
    width: 75%;
  }
  body:has(.tenis) div#body section#tour,
  body:has(.padel) div#body section#tour {
    height: 210px;
  }
  figure.wave h1.torneo {
    top: 150px;
  }
}
@media screen and (min-width: 2400px) {
  main h6,
  body:has(.torneo) div#body main h6,
  body:has(.torneo) div#body main h6 {
    padding: 1% 10%;
    max-width: 2400px;
  }
  main.grid ul,
  section#date {
    padding: 0 10%;
  }
  main.grid ul {
    padding-bottom: 25px;
  }
  body:has(.torneo) div#body section main h2 {
    width: 80%;
  }
  figure.wave h1.torneo {
    top: 140px;
  }
}
