header#top.scroll-in-place:has(ul.list.min.top255) section.reservaciones {
  height: 631px;
}

.nav-link.show {
  display: block;
}
section header.x {
  height: 30px;
  width: 100%;
  position: relative;
  left: 25px;
  z-index: 2;
}
section.reservaciones header.x div {
  float: left;
  display: block;
  top: 58px;
  left: 49px;
  position: fixed;
  background-color: var(--red);
  height: auto;
  width: 100%;
  z-index: 2;
  padding-left: 25px;
}
section.reservaciones > div {
  position: fixed;
  top: 80px;
  left: 49px;
  width: 100%;
  padding-left: 25px;
  background-color: var(--red);
  z-index: 2;
  height: 11rem;
  display: flex;
  align-items: center;
}
section.reservaciones h3 {
  margin-top: 12px;
  margin-bottom: -16px;
  width: 100%;
}
section.reservaciones p {
  width: 100%;
  display: none;
}
section.calendar div,
section.calendar h3,
section.calendar p,
section.reservaciones header {
  width: 100vw;
  position: relative;
}
section.calendar {
  margin-top: 170px;
  margin-left: 10px;
  width: 100%;
  z-index: 0;
  background-color: var(--white);
  border-top-left-radius: 25px;
}
section.calendar header.x div {
  height: 100%;
  position: relative;
  top: -20px;
  width: 100%;
  left: -14px;
  z-index: 0;
  padding: 0 0 0 6px;
  background-color: var(--white);
}
section.calendar h3 {
  margin-top: 0;
  margin-bottom: 16px;
  left: 25px;
  color: var(--red);
  font-weight: 900;
  width: 100%;
}
section.calendar p {
  left: 25px;
}
section.calendar div {
  border: 1px;
  height: 400px;
  overflow-y: hidden;
  overflow-x: scroll;
  left: 5px;
  width: 100%;
}
#autoHide {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  text-transform: uppercase;
  -webkit-animation: 5s ease-in 6s forwards cssAnimation;
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
iframe {
  margin-top: -133px;
  z-index: 0;
  width: 88%;
  height: -webkit-fill-available;
  border: 0;
  background-color: transparent;
  position: relative;
}

section.reservaciones {
  flex-direction: row;
  display: flex;
  background-color: var(--red);
  position: absolute;
  left: 49px;
  top: 59px;
  width: 100%;
  height: 491px;
  flex-direction: column;
  overflow-y: scroll;
}
section.reservaciones.calendario {
  margin-top: 559px;
}
section.reservaciones header {
  margin-top: 29px;
  background-color: var(--red);
  width: 100%;
  height: auto;
}
section.reservaciones ul#actividadesCLP {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  top: 205px;
  left: 20px;
  padding: 0px 59px 0 0;
}
section.reservaciones ul#actividadesCLP li {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  border: 1px solid var(--grey);
  border-radius: 10px;
  padding: 10% 7%;
}
section.reservaciones ul#actividadesCLP li article figure {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 130px;
  position: relative;
  left: 0;
}
section.reservaciones ul#actividadesCLP li article figure figcaption {
  margin-top: -25px;
}
section.reservaciones ul#actividadesCLP li article figure img {
  width: 75%;
  height: 75%;
}
section.reservaciones ul#actividadesCLP li article figure#tenisCalendar img {
  border-radius: 50%;
}
@media screen and (min-width: 576px) {
  section.reservaciones > div {
    top: 83px;
    width: 95%;
  }
  section.reservaciones ul#actividadesCLP {
    margin-left: 0;
    overflow-y: hidden;
    padding: 0 10% 0 1%;
  }
  section.reservaciones ul#actividadesCLP li article figure {
    width: 150px;
    height: 182px;
    top: 16px;
  }
  section.reservaciones ul#actividadesCLP li article figure img {
    padding: 5%;
  }
  section.calendar {
    margin-top: 173px;
  }
  section.reservaciones.calendario {
    margin-top: 576px;
  }
  section.reservaciones {
    width: 100vw;
  }
  iframe {
    margin-top: -137px;
    width: 94%;
  }
  section.calendar div {
    height: 316px;
  }
}
@media screen and (min-width: 633px) {
  iframe {
    margin-top: -233px;
  }
}
@media screen and (min-width: 768px) {
  section.reservaciones {
    width: 100%;
    overflow: hidden;
    left: 10px;
  }
  section.reservaciones.expand {
    height: 900px;
    margin-top: 942px;
  }
  section header.x:not(section.calendar header.x) {
    left: 5%;
    top: 45px;
    position: fixed;
  }
  section.reservaciones header.x div:not(section.calendar header.x div) {
    left: 21px;
  }
  section.calendar header.x {
    margin-bottom: -8px;
  }
  section.reservaciones > div {
    top: 84px;
    width: 100%;
    padding: 5%;
    left: 0;
    height: 200px;
  }
  section.reservaciones h3 {
    margin-top: 0px;
    margin-bottom: -16px;
    width: 100%;
    top: 0;
    position: relative;
  }
  section.reservaciones p {
    display: block;
  }
  section.reservaciones ul#actividadesCLP {
    margin-top: 0;
    margin-left: 0;
    justify-content: space-evenly;
    max-width: 992px;
    overflow-x: scroll;
    position: fixed;
    bottom: -25px;
    left: -6px;
    height: calc(100% - 278px);
    padding: 5%;
    width: 100%;
    top: 268px;
  }
  section.reservaciones ul#actividadesCLP li {
    padding: 12% 4%;
  }
  section.reservaciones ul#actividadesCLP li article figure {
    width: 225px;
    height: 222px;
    padding: 5%;
  }
  section.reservaciones ul#actividadesCLP li article figure img {
    width: 65%;
    height: 65%;
    padding: 8%;
  }
  ul#actividadesCLP li article figure figcaption {
    margin-top: -7px;
    text-transform: uppercase;
  }
  section.calendar {
    margin-top: 0;
    top: 284px;
    position: fixed;
  }
  #autoHide {
    -webkit-animation: 1s ease-in 2s forwards cssAnimation;
    z-index: 1;
  }
  section.calendar div {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    top: -45px;
    bottom: 0;
  }
  iframe {
    margin-top: -80px;
    height: 595px;
    width: -webkit-fill-available;
    padding-right: 1%;
  }
}
@media screen and (min-width: 992px) {
  section header.x:not(section.calendar header.x) {
    left: 4%;
  }
  section.reservaciones ul#actividadesCLP {
    max-width: 992px;
    overflow-x: hidden;
    padding: 2% 5%;
    top: 265px;
  }
  section.reservaciones.expand {
    height: 880px;
  }

  section.reservaciones > div {
    padding: 4%;
  }
  section.calendar h3 {
    font-size: xxx-large;
    left: 0;
    padding-left: 57px;
    width: 250px;
    background: var(--white);
    z-index: 1;
  }
  iframe {
    height: 635px;
  }
  section.calendar div {
    top: -80px;
  }
}
@media screen and (min-width: 1200px) {
  section.reservaciones header.x div:not(section.calendar header.x div) {
    left: 0;
    width: auto;
  }
  section.reservaciones {
    flex-direction: row;
    gap: 55px;
    height: 375px;
    margin-top: 430px;
  }
  section.reservaciones > div {
    width: 30%;
    padding: 2% 1% 2% 2%;
    height: auto;
    flex-direction: column;
  }
  section.calendar h3 {
    top: -20px;
    left: 5px;
    border-top-left-radius: 25px;
    width: 300px;
  }
  section.reservaciones ul#actividadesCLP {
    margin-top: 35px;
    height: 288px;
    width: 66%;
    padding: 2%;
    max-width: 890px;
    top: 60px;
    left: 32%;
  }
  section.reservaciones ul#actividadesCLP li article figure {
    width: 200px;
    height: 230px;
  }
  section.reservaciones header {
    width: 30%;
  }
  section.calendar {
    margin-top: 0;
    width: 72vw;
    top: 115px;
    left: 32%;
  }
  section.calendar div {
    height: 810px;
    width: 66vw;
    overflow-x: scroll;
    overflow-y: auto;
  }
  section.calendar header.x {
    width: 94%;
  }
  iframe {
    margin-top: -53px;
    height: 100%;
    width: -webkit-fill-available;
  }
  section.reservaciones.expand {
    height: 650px;
    margin-top: 710px;
  }
}
@media screen and (min-width: 1400px) {
  section.reservaciones header {
    width: 33%;
  }
  section.calendar div {
    width: 66vw;
  }
}
@media screen and (min-width: 1600px) {
  section.reservaciones header {
    width: 27%;
  }
  section.calendar div {
    width: 68vw;
    height: 895px;
    overflow-y: hidden;
  }
  section.reservaciones.expand {
    height: 850px;
    margin-top: 905px;
  }
}
@media screen and (min-width: 1800px) {
  section.reservaciones header {
    width: 23%;
  }
  section.reservaciones ul#actividadesCLP li article figure img {
    padding: 8%;
  }
}
