figure.wave {
  z-index: 1;
}
body div#body {
  top: 150px;
}
section#map {
  z-index: -1;
  position: relative;
  width: 100%;
  overflow: hidden;
}
section#ayuda {
  position: relative;
  top: 0;
  height: auto;
}
section#ayuda h2 {
  color: var(--grey);
  text-align: center;
  position: relative;
  height: auto;
  filter: drop-shadow(2px 1px 1px var(--shadow));
}
section#ayuda h3 {
  color: var(--grey);
  text-align: center;
  font-weight: 300;
  position: relative;
  top: -50px;
  filter: drop-shadow(-1px 2px 0 var(--shadow));
}
section#ayuda section#socialMedia {
  position: relative;
  width: 100%;
  top: -65px;
  display: flex;
  justify-content: center;
  background-color: var(--grey);
  height: auto;
}
section#ayuda section#socialMedia ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  max-width: 800px;
}
section#ayuda section#socialMedia ul li {
  padding: 0;
  width: auto;
}
section#ayuda section#socialMedia ul li a figure {
  width: 64px;
  gap: 64px;
}
section#actividades {
  position: relative;
  top: -65px;
  height: auto;
}
section#actividades h4 {
  width: 100%;
  color: var(--secondary-text-color);
  padding: 0 0 0 5%;
  text-align: center;
  font-size: 42px;
}
section#actividades h4 {
  width: 100%;
}
footer {
  bottom: -55px;
}
@media screen and (min-width: 576px) {
  body div#body {
    top: 0px;
  }
  section#ayuda section#socialMedia {
    top: -58px;
  }
}
@media screen and (min-width: 768px) {
  body div#body {
    top: -45px;
  }
  section#actividades {
    top: -25px;
  }
  section#ayuda section#socialMedia {
    background: linear-gradient(to top, var(--white) 10%, var(--grey) 45%);
    top: -20px;
  }
  figure.footer-wave {
    bottom: -15px;
  }
  footer {
    bottom: 45px;
  }
}
@media screen and (min-width: 992px) {
  section#actividades {
    height: 665px;
  }
  section#actividades > h6 {
    margin-top: -25px;
  }
  figure.footer-wave {
    bottom: -70px;
  }
  footer {
    bottom: -10px;
  }
}
@media screen and (min-width: 1200px) {
  body div#body {
    top: -100px;
  }
  footer {
    bottom: 0;
  }
}
@media screen and (min-width: 1400px) {
  body div#body {
    top: -200px;
  }
}
@media screen and (min-width: 1600px) {
  body div#body {
    top: -300px;
  }
}
@media screen and (min-width: 1800px) {
  body div#body {
    top: -400px;
  }
  section#ayuda h2 {
    height: 110px;
  }
  section#ayuda h3 {
    top: -50px;
  }
  section#ayuda section#socialMedia {
    top: -50px;
  }
  section#ayuda section#socialMedia ul {
    width: 50%;
  }
  section#ayuda section#socialMedia ul li a figure {
    width: 64px;
    gap: 64px;
  }
}
@media screen and (min-width: 2000px) {
  body div#body {
    top: -450px;
  }
}
@media screen and (min-width: 2400px) {
  body div#body {
    top: -600px;
  }
}
