figure.wave h1 {
  overflow-wrap: break-word;
  padding: 3%;
  height: 455px;
}
body div#body {
  top: 420px;
}
/*-------------MAIN-------------*/
main {
  top: 20px;
}
main h6 {
  padding-top: 0.5%;
  margin: 0 0 20px auto;
}
div#body
  section:nth-child(2):not(div#body footer section:nth-child(2)):not(
    body:has(.tenis) div#body section#date
  ):not(body:has(.padel) div#body section#date):not(
    body:has(.yoga) div#body section#date
  ) {
  padding: 5%;
}
div#body section:nth-child(2) ol li {
  position: relative;
  top: 0;
  list-style-type: square;
}
main.grid ul {
  margin: 0 auto 0 auto;
  top: -20px;
}
main.grid ul li {
  padding: 0;
}
main.grid ul li figure {
  height: 300px;
}
/*-------------EVENTS-------------*/
div#event_story,
div#tenis_story,
div#padel_story,
div#yoga_story {
  top: 590px;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  z-index: 2;
}
div#tenis_story {
  top: 465px;
}
div#event_story > header,
div#tenis_story > header,
div#padel_story > header,
div#yoga_story > header {
  align-self: flex-end;
  position: relative;
  height: 65px;
  width: 100%;
}
div#event_story > header > figure,
div#tenis_story > header > figure,
div#padel_story > header > figure,
div#yoga_story > header > figure {
  width: 25px;
  position: absolute;
  right: -47px;
  top: -8px;
}

div#event_story_content,
div#tenis_story_content,
div#padel_story_content,
div#yoga_story_content {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

div#event_story_content figure,
div#tenis_story_content figure,
div#padel_story_content figure,
div#yoga_story_content figure {
  width: 95%;
  border-radius: 25px;
}

div#event_story_content h3,
div#tenis_story_content h3,
div#padel_story_content h3,
div#yoga_story_content h3 {
  color: var(--secondary-text-color);
  margin: 0;
}
div#event_story_content p,
div#tenis_story_content p,
div#padel_story_content p,
div#yoga_story_content p {
  width: 95%;
}
/*-------------CALENDAR-------------*/
section#date {
  position: relative;
  top: 0;
  max-width: 2400px;
  margin: 0 auto;
  z-index: -1;
}
section#date a {
  cursor: pointer;
  color: var(--black);
}
section#date a:hover {
  color: var(--accent-color);
}
section#actividades {
  top: -52px;
}
section#date h3 {
  color: var(--black);
  text-align: center;
  background-color: var(--grey);
  padding: 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  top: -39px;
  flex: auto;
  font-weight: 600;
}
/*-------------ACTIVIDADES-------------*/
section#actividades h4 {
  width: 90%;
  color: var(--black);
  padding: 0 5%;
  text-align: center;
  font-size: 42px;
}
section#actividades > h6 {
  margin: -35px 0 20px auto;
}
/*-------------TOUR-------------*/
section#tour {
  top: -50px;
  margin-bottom: -20%;
}
footer {
  height: 188px;
}
footer div {
  margin: -9px 0 0 0;
}
@media screen and (min-width: 399px) and (max-width: 575px) {
  figure.wave h1 {
    height: 375px;
  }
  body div#body {
    top: 300px;
  }
}
@media screen and (min-width: 576px) {
  figure.wave h1 {
    height: 371px;
  }
  body div#body {
    top: 265px;
  }
  main {
    top: 20px;
    margin-bottom: 0;
  }
  main h4 {
    width: 86%;
  }
  main.grid ul li figure {
    height: 350px;
  }
  div#body section:nth-child(3) ol {
    columns: 2;
  }
  div#event_story,
  div#tenis_story,
  div#padel_story,
  div#yoga_story {
    top: 419px;
    height: auto;
    padding: 0 5% 80px 5%;
  }
  div#event_story > header > figure,
  div#tenis_story > header > figure,
  div#padel_story > header > figure,
  div#yoga_story > header > figure {
    right: -55px;
  }
  section#date h3 {
    height: 300px;
  }
  section#actividades ul li {
    padding: 0;
  }
  section#tour {
    top: -110px;
    margin-bottom: -32%;
  }
}
@media screen and (min-width: 578px) and (max-width: 730px) {
  figure.wave h1 {
    top: 135px;
    height: 200px;
  }
  body div#body {
    top: 200px;
  }
}
@media screen and (min-width: 731px) and (max-width: 767px) {
  body div#body {
    top: 30px;
  }
}
@media screen and (min-width: 768px) {
  figure.wave h1 {
    height: 188px;
  }
  body div#body {
    top: 325px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
  }
  main {
    top: 20px;
    margin-bottom: 0;
  }
  main.grid ul {
    margin: 0 auto;
  }
  main.grid ul li figure {
    height: 300px;
  }
  main h4 {
    margin: 25px auto 45px auto;
  }
  main h6 {
    width: 100%;
    padding: 0.5% 5%;
  }
  div#body section:nth-child(3) {
    padding: 0;
  }
  div#body section:nth-child(3):has(ol) {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    height: 200px;
  }
  div#body section:nth-child(3) ol {
    columns: 2;
  }
  div#body section:nth-child(3) ol li {
    top: 0;
  }
  div#event_story,
  div#tenis_story,
  div#padel_story,
  div#yoga_story {
    top: 335px;
    padding: 5% 3%;
  }
  div#event_story > header,
  div#tenis_story > header,
  div#padel_story > header,
  div#yoga_story > header {
    align-self: flex-end;
    padding-bottom: 25px;
    margin-left: 4px;
    position: relative;
    top: -30px;
  }
  section#date {
    top: 22px;
    height: 250px;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
  }
  section#actividades {
    top: 35px;
    padding: 0;
  }
  section#actividades h4 {
    width: 100%;
  }
  section#actividades > h6 {
    text-indent: unset;
    margin: -35px auto 15px auto;
  }
  section#actividades ul {
    margin: 0 auto 25px auto;
  }
  section#tour {
    top: 162px;
    margin-bottom: 42%;
  }
  figure.footer-wave {
    bottom: -33px;
  }
  footer {
    bottom: -10px;
    height: 92px;
    position: absolute;
  }
}
@media screen and (min-width: 992px) {
  div#body section:nth-child(3) ol {
    columns: 3;
  }
  div#event_story,
  div#tenis_story,
  div#padel_story,
  div#yoga_story {
    top: 310px;
    height: auto;
  }
  div#event_story_content,
  div#tenis_story_content,
  div#padel_story_content,
  div#yoga_story_content {
    padding: 5%;
  }
  section#tour {
    top: 60px;
    margin-bottom: 55px;
  }
  figure.footer-wave {
    bottom: 0;
  }
  footer {
    bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  figure.wave h1 {
    top: 130px;
  }
  main h4 {
    max-width: 1200px;
  }
  main.grid ul {
    max-width: unset;
    margin: 0 auto;
  }
  main.grid ul li figure {
    height: 350px;
  }
  div#body section:nth-child(3):has(ol) {
    top: 0;
  }
  div#event_story,
  div#tenis_story,
  div#padel_story,
  div#yoga_story {
    top: 285px;
  }
  div#event_story > header,
  div#tenis_story > header,
  div#padel_story > header,
  div#yoga_story > header {
    top: -50px;
  }
  section#date {
    top: 0;
  }
  section#actividades {
    top: 0;
    margin-bottom: 5%;
  }
  section#actividades > h6 {
    max-width: 980px;
  }
  section#tour {
    top: 0;
    margin-bottom: 0;
  }
  figure.footer-wave {
    bottom: 0;
  }
  footer {
    bottom: 0;
    height: 100px;
  }
}
@media screen and (min-width: 1397px) and (max-width: 1400px) {
  figure.wave h1 {
    top: 200px;
  }
}
@media screen and (min-width: 1400px) {
  figure.wave h1 {
    top: 185px;
  }
  main {
    top: 0;
  }
  main.grid ul {
    top: -30px;
    padding: 0 5%;
  }
  div#body section:nth-child(3) ol {
    columns: 4;
  }
  div#event_story,
  div#tenis_story,
  div#padel_story,
  div#yoga_story {
    top: 225px;
    padding: 5% 8%;
  }
  div#event_story > header,
  div#tenis_story > header,
  div#padel_story > header,
  div#yoga_story > header {
    right: -80px;
    top: -60px;
  }
  section#date {
    top: 0;
    padding: 0 5%;
  }
  section#date a {
    width: 600px;
  }
  section#actividades {
    top: 50px;
  }
  section#actividades ul {
    margin: 0 auto 80px auto;
  }
  section#tour {
    top: 0;
    margin-bottom: -3%;
  }
}
@media screen and (min-width: 1600px) {
  section#date a {
    width: 700px;
  }
  main.grid ul {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
@media screen and (min-width: 1800px) {
  main h6 {
    padding: 1% 8%;
  }
  main.grid ul,
  section#date {
    padding: 0 8%;
  }
  div#event_story,
  div#tenis_story,
  div#padel_story,
  div#yoga_story {
    top: 220px;
  }
  section#date a {
    width: 800px;
  }
  section#tour {
    margin: 0 auto -2% auto;
  }
}
@media screen and (min-width: 2000px) {
  main h6 {
    margin: 0 auto 20px auto;
    padding: 1% 13%;
    max-width: unset;
  }
  main.grid ul {
    top: -35px;
  }
  main.grid ul,
  section#date {
    padding: 0 13%;
  }
  div#event_story,
  div#tenis_story,
  div#padel_story,
  div#yoga_story {
    padding: 5% 13%;
  }
  div#event_story > header,
  div#tenis_story > header,
  div#padel_story > header,
  div#yoga_story > header {
    right: -215px;
    top: -70px;
  }
  section#date a {
    width: 700px;
  }
  section#tour {
    margin-bottom: -1%;
  }
}
@media screen and (min-width: 2400px) {
  figure.wave h1 {
    top: 150px;
  }
  main h6 {
    padding: 1% 10%;
    max-width: 2400px;
  }
  main.grid ul,
  div#event_story_content,
  div#tenis_story_content,
  div#padel_story_content,
  div#yoga_story_content {
    max-width: 2400px;
  }
  main.grid ul,
  section#date {
    padding: 0 10%;
  }
  section#date a {
    width: 860px;
  }
  section#tour {
    margin-bottom: 0;
  }
}
