figure.wave h1 {
  overflow-wrap: break-word;
  height: 170px;
}
body div#body {
  top: 150px;
  z-index: 1;
}
/*-------------MAIN-------------*/
main {
  top: 0;
}
main h6 {
  padding: 0.5% 2% 0 10%;
  margin: 0 0 20px auto;
}
main div h6 {
  width: 100%;
  margin: 0 auto 35px auto;
}
div#body
  section:nth-child(2):not(div#body footer section:nth-child(2)):not(
    section.button
  ):not(section#socialM):not(section#date) {
  padding: 5%;
}

main#event_gallery.grid > div section.button {
  padding: 0;
  width: 90%;
  float: right;
}
main#event_gallery.grid > div section.button h3 {
  margin: 0;
}
div#body section:nth-child(2) ol li {
  position: relative;
  top: 0;
  list-style-type: none;
}
main.grid ul {
  margin: 0 auto 0 auto;
  top: -20px;
}
main.grid ul li {
  padding: 0;
}
main.grid ul li figure {
  height: 300px;
}
main#torneos_gallery ul li figure img {
  object-position: top;
}
div#body section:nth-child(2) ol {
  list-style: none;
}
/*-------------Se OFRECE-------------*/
section#seOfrece {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#seOfrece div {
  width: 100%;
}
section#seOfrece div b {
  text-align: left;
}
section#seOfrece ul {
  top: 0;
  gap: 0 25px;
  width: 100%;
}
section#seOfrece ul li {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 28px 0;
}
section#seOfrece ul li:first-child {
  height: 125px;
}
section#seOfrece ul li p {
  line-height: 1.2;

  padding: 0;
  margin: 0;
}
section#seOfrece ul li p em {
  font-size: smaller;
  font-style: italic;
  color: var(--black);
  font-weight: 300;
  margin-left: 15px;
  white-space: pre;
}

/*-------------EVENTS-------------*/
.iframeContainer {
  border: 3px solid white;
  overflow: hidden;
  margin: 0 auto;
  max-width: 736px;
  height: auto;
}
iframe.iframeVideoPortrait {
  margin-top: -50px;
  width: -webkit-fill-available;
  max-height: -webkit-fill-available;
  margin-right: 0;
  margin-left: 0;
  height: 460px;
}
iframe.iframeVideoLandscape {
  height: 250px;
  margin-top: -50px;
  width: -webkit-fill-available;
  max-height: -webkit-fill-available;
  margin-right: 0;
  margin-left: 0;
}
iframe.iframeVideoLandscape.laRoja {
  height: 350px;
  margin-top: -160px;
  width: -webkit-fill-available;
  max-height: -webkit-fill-available;
  margin-right: 0;
  margin-left: 0;
}
/*-------------Story-------------*/
div#event_story,
div#tenis_story,
div#padel_story,
div#torneos_story,
div#tenisInstructor_story,
div#torneoOrganizer_story,
div#recreational_center {
  top: 65px;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  z-index: 2;
}

/*-------------Story - Header-------------*/

div#event_story > header,
div#tenis_story > header,
div#padel_story > header,
div#torneos_story > header,
div#tenisInstructor_story > header,
div#torneoOrganizer_story > header,
div#recreational_center > header {
  align-self: flex-end;
  position: relative;
  height: 100px;
  width: 100%;
}
div#torneoOrganizer_story > header,
div#tenisInstructor_story > header {
  top: 0;
}
div#event_story > header > figure,
div#tenis_story > header > figure,
div#padel_story > header > figure,
div#torneos_story > header > figure,
div#tenisInstructor_story > header > figure,
div#torneoOrganizer_story > header > figure,
div#recreational_center > header > figure {
  width: 40px;
  position: absolute;
  right: -57px;
  z-index: 5;
}
div#padel_story > header > figure,
div#torneos_story > header > figure,
div#torneoOrganizer_story > header > figure,
div#tenis_story > header > figure {
  top: 0;
}

/*-------------Story - Content-------------*/
div#event_story_content,
div#tenis_story_content,
div#padel_story_content,
div#torneos_story_content,
div#tenisInstructor_story_content,
div#torneoOrganizer_story_content,
div#recreational_center_content {
  width: 100%;
  height: 750px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: scroll;
  padding: 2%;
}

div#padel_story_content,
div#tenisInstructor_story_content,
div#event_story_content,
div#tenis_story_content,
div#padel_story_content {
  top: -64px;
}

div#torneos_story_content,
div#torneoOrganizer_story_content {
  top: -31px;
}

/*-------------Story - Content figure, h3, p, iframe -------------*/

div#event_story_content figure,
div#tenis_story_content figure,
div#padel_story_content figure,
div#torneos_story_content figure,
div#tenisInstructor_story_content figure,
div#torneoOrganizer_story_content figure,
div#recreational_center_content figure {
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
}
div#padel_story_content figure,
div#torneos_story_content figure,
div#tenisInstructor_story_content figure,
div#torneoOrganizer_story_content figure,
div#recreational_center_content figure {
  height: 585px;
}
div#tenis_story_content div {
  width: 100%;
}
div#event_story_content h3,
div#tenis_story_content h3,
div#padel_story_content h3,
div#torneos_story_content h3,
div#tenisInstructor_story_content h3,
div#torneoOrganizer_story_content h3,
div#recreational_center_content h3 {
  color: var(--secondary-text-color);
  margin: 0;
}
div#event_story_content p,
div#tenis_story_content p,
div#padel_story_content p,
div#torneos_story_content p,
div#tenisInstructor_story_content p,
div#torneoOrganizer_story_content p,
div#recreational_center_content p {
  width: 95%;
}
div#torneoOrganizer_story_content figure div iframe.iframeVideo\" {
  margin-left: -408px;
}
main.grid ul li figure#\34 64724 img {
  object-position: 50% top;
}
/*-------------CALENDAR-------------*/
section#date {
  position: relative;
  top: 0;
  max-width: 2400px;
  margin: 0 auto;
  z-index: -1;
  padding: 25px 0;
}
section#date a {
  cursor: pointer;
  color: var(--secondary-text-color);
}
section#date a:hover {
  color: var(--accent-color);
}
section#actividades {
  top: -100px;
  height: auto;
  border: 2px solid transparent;
}
section#date h3 {
  color: var(--light-border);
  text-align: center;
  background-color: var(--grey);
  padding: 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  top: -39px;
  flex: auto;
  font-weight: 600;
}
/*-------------ACTIVIDADES-------------*/
section#actividades h4 {
  width: 100%;
  color: var(--secondary-text-color);
  padding: 0 0 0 5%;
  text-align: center;
  font-size: 42px;
}
section#actividades > h6 {
  margin: -35px 0 20px auto;
}
/*-------------TOUR-------------*/
section#tour {
  bottom: -215px;
}

@media screen and (min-width: 576px) {
  figure.wave h1 {
    height: 200px;
  }
  body div#body {
    top: 80px;
  }
  main {
    top: 0;
    margin-bottom: 0;
  }
  main h4 {
    width: 86%;
  }
  main.grid ul li figure {
    height: 350px;
  }
  main.grid ul li figure#\34 64724 img {
    object-position: 50% top;
  }
  main#torneos_gallery ul li figure img:not(#7188566):not(#723250) {
    object-position: 50% 16%;
    border: 1px solid red;
  }
  main#torneos_gallery ul li:nth-child(4) figure img,
  main#torneos_gallery ul li:nth-child(6) figure img {
    object-position: 50% 25%;
  }
  section#actividades {
    height: 850px;
  }
  section#seOfrece ul li p em {
    margin-left: 0;
  }
  section#seOfrece ul li:first-child {
    height: 75px;
  }
  div#body section:nth-child(2) ol {
    columns: 2;
  }
  /*-------------Story - iframe-------------*/

  iframe.iframeVideoLandscape {
    height: 40vh;
  }
  iframe.iframeVideo\ {
    height: 108vh;
  }
  iframe.iframeVideoLandscape.laRoja {
    height: 500px;
    margin-top: -227px;
  }
  iframe.iframeVideoPortrait {
    height: 532px;
  }
  /*-------------Story -------------*/

  div#event_story,
  div#tenis_story,
  div#padel_story,
  div#torneos_story,
  div#tenisInstructor_story,
  div#torneoOrganizer_story,
  div#recreational_center {
    height: 100%;
    padding: 5% 5% 80px 5%;
  }
  /*-------------Story - Header-------------*/
  div#event_story > header,
  div#tenis_story > header,
  div#padel_story > header,
  div#torneos_story > header,
  div#tenisInstructor_story > header,
  div#torneoOrganizer_story > header,
  div#recreational_center > header {
    height: 50px;
  }

  div#tenis_story > header {
    top: -5px;
  }
  div#tenisInstructor_story > header {
    top: -12px;
  }
  div#torneoOrganizer_story > header {
    top: -30px;
  }
  div#torneos_story > header {
    top: -13px;
  }
  div#recreational_center > header {
    height: 90px;
  }

  div#event_story > header > figure,
  div#tenis_story > header > figure,
  div#torneos_story > header > figure,
  div#tenisInstructor_story > header > figure,
  div#torneoOrganizer_story > header > figure,
  div#recreational_center > header > figure {
    right: -59px;
    top: 0;
  }
  div#torneoOrganizer_story > header > figure,
  div#padel_story > header > figure {
    top: 13px;
  }
  /*-------------Story - Content-------------*/
  div#event_story_content,
  div#tenis_story_content {
    top: -14px;
  }

  div#padel_story_content {
    top: 0;
  }

  div#tenisInstructor_story_content,
  div#torneos_story_content {
    top: -29px;
  }

  /*-------------Story - Content figure, h3, p, iframe -------------*/
  div#torneoOrganizer_story_content figure div iframe.iframeVideo\" {
    margin-left: -290px;
  }

  /*-------------Celendar-------------*/
  section#actividades ul li {
    padding: 0;
  }
  section#tour {
    bottom: -400px;
    height: 350px;
  }
}
@media screen and (min-width: 450px) and (max-width: 575px) {
  body div#body {
    top: 100px;
  }
}
@media screen and (min-width: 629px) and (max-width: 730px) {
  figure.wave h1 {
    top: 150px;
    height: 100px;
  }
  body div#body {
    top: 0;
  }
}
@media screen and (min-width: 731px) and (max-width: 767px) {
  body div#body {
    top: 0;
  }
}
@media screen and (min-width: 768px) {
  figure.wave h1 {
    height: 125px;
  }
  body div#body {
    top: 235px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
  }
  main {
    top: 20px;
    margin-bottom: 0;
  }
  main.grid ul {
    margin: 0 auto;
  }
  main.grid ul li figure {
    height: 300px;
  }
  main h4 {
    margin: 25px auto 45px auto;
  }
  main h6 {
    width: 100%;
    padding: 0.5% 5%;
  }
  main#event_gallery.grid > div section.button {
    width: 95%;
  }
  /*-------------EVENTS-------------*/
  iframe.iframeVideoLandscape {
    height: 450px;
  }
  .iframeContainer\ {
    height: 85vh;
  }
  iframe.iframeVideoPortrait.adjust {
    height: 675px;
    margin-top: -235px;
  }
  iframe.iframeVideoLandscape.laRoja {
    height: 670px;
    margin-top: -295px;
  }
  /*-------------Story-------------*/

  div#event_story,
  div#tenis_story,
  div#padel_story,
  div#torneos_story,
  div#tenisInstructor_story,
  div#torneoOrganizer_story,
  div#recreational_center {
    padding: 5% 3%;
  }
  /*-------------Story - Header-------------*/
  div#event_story > header,
  div#tenis_story > header,
  div#padel_story > header,
  div#torneos_story > header,
  div#tenisInstructor_story > header,
  div#torneoOrganizer_story > header,
  div#recreational_center > header {
    align-self: flex-end;
    padding-bottom: 25px;
    margin-left: 4px;
    position: relative;
    top: -5px;
    height: 50px;
    z-index: 5;
  }
  div#event_story > header > figure,
  div#tenis_story > header > figure,
  div#padel_story > header > figure,
  div#torneos_story > header > figure,
  div#tenisInstructor_story > header > figure,
  div#torneoOrganizer_story > header > figure,
  div#recreational_center > header > figure {
    right: -56px;
    top: -9px;
  }
  /*-------------Story - Content-------------*/
  div#event_story_content,
  div#tenis_story_content,
  div#padel_story_content,
  div#torneos_story_content,
  div#tenisInstructor_story_content,
  div#recreational_center_content {
    top: -30px;
    height: 80vh;
  }
  div#torneoOrganizer_story_content {
    top: -25px;
    height: 650px;
  }

  /*-------------Story - Content figure, h3, p, iframe -------------*/

  div#event_story_content h3,
  div#tenis_story_content h3,
  div#padel_story_content h3,
  div#torneos_story_content h3,
  div#tenisInstructor_story_content h3,
  div#torneoOrganizer_story_content h3,
  div#recreational_center_content h3 {
    text-align: center;
  }

  div#event_story_content figure,
  div#tenis_story_content figure,
  div#padel_story_content figure,
  div#torneos_story_content figure,
  div#tenisInstructor_story_content figure,
  div#torneoOrganizer_story_content figure,
  div#recreational_center_content figure {
    max-height: 550px;
  }
  div#event_story_content figure img,
  div#tenis_story_content figure img,
  div#padel_story_content figure img,
  div#torneos_story_content figure img,
  div#tenisInstructor_story_content figure img,
  div#torneoOrganizer_story_content figure img,
  div#recreational_center_content figure img {
    object-position: 50% 15%;
  }
  div#tenisInstructor_story_content figure div.iframeContainer {
    height: 65vh;
  }
  div#tenisInstructor_story_content figure div iframe.iframeVideoPortrait {
    height: 670px;
    margin-top: -130px;
  }
  div#tenis_story_content figure div iframe.iframeVideoPortrait {
    margin-top: -265px;
    height: 809px;
  }
  div#padel_story_content figure div iframe.iframeVideoPortrait {
    margin-top: -150px;
    height: 73vh;
  }
  div#padel_story_content div {
    width: 100%;
  }

  /*-------------seOfrece-------------*/
  section#seOfrece ul li p em {
    margin-left: 15px;
  }
  section#seOfrece ul li:first-child {
    height: 100px;
  }
  div#body section:nth-child(2) {
    padding: 0;
  }
  div#body section:nth-child(2):has(ol) {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    height: 200px;
  }
  div#body section:nth-child(2) ol {
    columns: 2;
  }
  div#body section:nth-child(2) ol li {
    top: 0;
  }

  /*-------------caledario-------------*/
  section#date {
    top: 22px;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
  }
  section#date h3 {
    width: 87%;
  }
  section#actividades {
    top: 0;
    padding: 0;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section#actividades h4 {
    width: 100%;
  }
  section#actividades > h6 {
    text-indent: unset;
    margin: -35px auto 35px auto;
  }
  section#actividades ul {
    margin: 0 auto 25px auto;
  }
  section#tour {
    bottom: -335px;
  }
}
@media screen and (min-width: 992px) {
  figure.wave h1 {
    height: 130px;
  }
  body div#body {
    top: 250px;
  }
  main {
    height: unset;
    top: 0;
  }
  section#seOfrece div {
    width: 90%;
  }
  section#seOfrece ul li:first-child {
    height: 75px;
  }
  div#body section:nth-child(2) ol {
    columns: 3;
  }
  #toast {
    width: 41%;
    max-width: 425px;
  }
  /*-------------Story -------------*/
  div#event_story,
  div#tenis_story,
  div#padel_story,
  div#torneos_story,
  div#tenisInstructor_story,
  div#torneoOrganizer_story,
  div#recreational_center {
    height: auto;
  }

  /*-------------Story - content-------------*/
  div#event_story_content,
  div#tenis_story_content,
  div#padel_story_content,
  div#torneos_story_content,
  div#tenisInstructor_story_content,
  div#torneoOrganizer_story_content,
  div#recreational_center_content {
    padding: 5%;
    height: 80vh;
  }
  div#padel_story_content figure div iframe.iframeVideoPortrait {
    margin-top: -150px;
    height: 700px;
  }
  section#date h3 {
    width: 70%;
  }
  section#actividades {
    top: 0;
    top: 0;
    /* padding: 0; */
    height: 625px;
  }
  section#actividades h4 {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  figure.wave img {
    top: -200px;
  }
  figure.wave h1 {
    top: 130px;
  }
  main h4 {
    max-width: 1200px;
  }
  main.grid ul {
    max-width: unset;
    margin: 0 auto;
  }
  main.grid ul li figure {
    height: 350px;
  }
  section#seOfrece div {
    width: 80%;
  }
  div#body section:nth-child(2):has(ol) {
    top: 0;
  }
  .iframeContainer\ {
    height: 56vh;
  }
  iframe.iframeVideo\ {
    height: 89vh;
    width: 50%;
    left: 0;
    bottom: 0;
  }
  iframe.iframeVideoPortrait.adjust {
    height: 752px;
    margin-top: -96px;
  }
  div#event_story_content figure img.imgCenter {
    object-position: 50% 55%;
  }
  div#event_story_content figure img.imgBottom {
    object-position: 50% bottom;
  }
  /*-------------Story - Header-------------*/
  div#event_story > header,
  div#tenis_story > header,
  div#padel_story > header,
  div#torneos_story > header {
    top: -35px;
    right: 140px;
  }
  div#tenisInstructor_story > header,
  div#torneoOrganizer_story > header,
  div#recreational_center > header {
    top: -20px;
    right: 0px;
  }
  /*-------------Story - Content-------------*/
  div#event_story_content,
  div#tenis_story_content,
  div#padel_story_content,
  div#torneos_story_content {
    height: 650px;
    top: -60px;
    width: 75%;
    justify-content: center;
    align-items: center;
  }

  div#tenisInstructor_story_content,
  div#recreational_center_content {
    top: -45px;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  div#torneoOrganizer_story_content,
  div#tenisInstructor_story_content {
    height: 525px;
  }
  div#torneoOrganizer_story_content {
    top: -42px;
    flex-direction: row;
  }
  /*-------------Story - Content figure, h3, p, iframe -------------*/

  div#tenisInstructor_story_content figure div iframe.iframeVideoPortrait {
    margin-top: -95px;
  }
  div#tenisInstructor_story_content figure div.iframeContainer {
    height: 100%;
  }
  div#recreational_center_content div,
  div#torneoOrganizer_story_content div,
  div#tenisInstructor_story_content div {
    width: 100%;
  }

  /*-------------Calendario-------------*/

  section#date {
    top: 0;
  }
  section#date h3 {
    width: 59%;
    font-size: xxx-large;
  }
  section#actividades {
    height: 550px;
  }
  section#actividades > h6 {
    max-width: 980px;
  }
  section#tour {
    bottom: -315px;
    height: 285px;
  }
}
@media screen and (min-width: 1400px) {
  figure.wave h1 {
    top: 165px;
  }
  body div#body {
    top: 275px;
  }
  main {
    top: 0;
  }
  main.grid ul {
    top: -30px;
    padding: 0 5%;
  }
  /*-------------EVENTS-------------*/

  iframe.iframeVideoLandscape {
    height: 520px;
  }
  .iframeContainer {
    max-width: 1300px;
  }
  iframe.iframeVideoPortrait.adjust {
    height: 683px;
    margin-top: -130px;
  }
  /*-------------Story - Header-------------*/

  div#event_story > header,
  div#tenis_story > header,
  div#padel_story > header,
  div#torneos_story > header {
    right: 163px;
  }
  div#tenisInstructor_story > header,
  div#torneoOrganizer_story > header,
  div#recreational_center > header {
    top: -30px;
    right: 0px;
  }
  /*-------------Story - Content-------------*/
  div#tenisInstructor_story_content,
  div#torneoOrganizer_story_content,
  div#recreational_center_content {
    top: -55px;
  }
  /*-------------Story - Content figure, h3, p, iframe -------------*/
  div#padel_story_content figure div iframe.iframeVideoPortrait {
    margin-top: -252px;
    height: 800px;
  }
  div#padel_story_content figure img {
    object-position: 50% 35%;
  }
  div#tenis_story_content figure div iframe.iframeVideoPortrait {
    margin-top: -434px;
    height: 900px;
  }
  /*-------------se Ofrece -------------*/
  section#seOfrece ul li {
    height: 40px;
  }
  section#seOfrece div b {
    margin-left: 45px;
  }
  div#body section:nth-child(2) ol {
    columns: 4;
  }
  /*-------------Calendario -------------*/
  div#body section:nth-child(2):not(section#date) {
    padding: 0;
  }
  section#date {
    top: 0;
    padding: 0 5%;
  }
  section#date h3 {
    width: auto;
    flex: unset;
    font-weight: 900;
  }
  section#date a {
    width: 600px;
  }
  section#actividades {
    top: 50px;
  }
  section#actividades ul {
    margin: 0 auto 80px auto;
  }
  section#tour {
    bottom: -340px;
  }
}
@media screen and (min-width: 1600px) {
  figure.wave img {
    top: -262px;
  }
  section#date a {
    width: 700px;
  }
  main.grid ul {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  main.grid ul li:nth-child(3) figure img {
    object-position: 50% top;
  }
  /*-------------EVENTS-------------*/
  iframe.iframeVideoPortrait.adjust {
    margin-top: -130px;
  }
  iframe.iframeVideoPortrait.adjust.fernando {
    margin-top: -212px;
  }
  iframe.iframeVideoLandscape.laRoja {
    height: 850px;
    margin-top: -413px;
  }
  /*-------------Story Header-------------*/
  div#event_story > header,
  div#tenis_story > header,
  div#padel_story > header,
  div#torneos_story > header {
    right: 188px;
    top: -55px;
  }

  div#event_story_content,
  div#tenis_story_content,
  div#padel_story_content,
  div#torneos_story_content {
    top: -80px;
  }
  div#event_story_content figure,
  div#tenis_story_content figure,
  div#padel_story_content figure,
  div#torneos_story_content figure {
    height: 95%;
  }
  div#tenis_story_content figure img.adjustCenter {
    object-position: 50% 50%;
  }
  div#padel_story_content figure div iframe.iframeVideoPortrait {
    height: 800px;
    margin-top: -342px;
  }
  /*-------------EVENTS end-------------*/
  section#seOfrece ul li {
    padding: 10px 0;
    height: 40px;
  }
  section#seOfrece ul li p em {
    margin-left: 0;
  }
  section#actividades {
    height: 600px;
  }
}
@media screen and (min-width: 1800px) {
  figure.wave img {
    top: -321px;
  }
  main h6 {
    padding: 1% 8%;
  }
  main.grid ul,
  section#date {
    padding: 0 8%;
  }
  section#seOfrece div b {
    margin-left: 90px;
  }
  /*-------------EVENTS-------------*/
  iframe.iframeVideoLandscape {
    height: 585px;
  }
  iframe.iframeVideoPortrait.adjust {
    height: 911px;
    margin-top: -130px;
  }
  iframe.iframeVideoPortrait.adjust.fernando {
    margin-top: -366px;
  }
  iframe.iframeVideoLandscape.laRoja {
    height: 990px;
    margin-top: -513px;
  }
  div#event_story > header,
  div#tenis_story > header,
  div#padel_story > header,
  div#torneos_story > header,
  div#tenisInstructor_story > header,
  div#torneoOrganizer_story > header,
  div#recreational_center > header {
    top: -60px;
    right: 123px;
  }
  div#event_story_content,
  div#tenis_story_content,
  div#padel_story_content,
  div#torneos_story_content {
    height: 725px;
  }
  div#event_story_content,
  div#tenis_story_content,
  div#padel_story_content,
  div#torneos_story_content,
  div#tenisInstructor_story_content,
  div#torneoOrganizer_story_content,
  div#recreational_center_content {
    width: 85%;
    top: -85px;
  }
  div#event_story_content figure,
  div#tenis_story_content figure,
  div#padel_story_content figure,
  div#torneos_story_content figure {
    height: 550px;
    margin-top: 108px;
  }
  div#tenis_story_content figure img {
    object-position: 50% 30%;
  }
  div#tenis_story_content figure img.adjustTop {
    object-position: 50% top;
  }
  div#torneos_story_content figure img.catA {
    object-position: 50% 25%;
  }
  div#padel_story_content figure img.adjustCenter {
    object-position: 50% 50%;
  }
  div#padel_story_content figure div iframe.iframeVideoPortrait {
    margin-top: -450px;
    height: 985px;
  }
  div#tenis_story_content figure div iframe.iframeVideoPortrait {
    margin-top: -527px;
    height: 1018px;
  }
  /*-------------EVENTS end-------------*/
  section#date a {
    width: 800px;
  }
  div#body section:nth-child(2):not(section#date):not(section.button) {
    padding: 0 5%;
    max-width: 1800px;
    margin-left: 0;
  }
  section#tour {
    margin: 0 auto 3% auto;
    bottom: -390px;
  }
}
@media screen and (min-width: 2000px) {
  figure.wave img {
    top: -385px;
  }
  figure.wave h1 {
    top: 180px;
  }
  main h6,
  main div h6 {
    margin: 0 auto 20px auto;
    padding: 1% 13%;
    max-width: unset;
  }
  main#event_gallery.grid > div section.button {
    width: 87%;
  }
  main.grid ul {
    top: -35px;
  }
  main.grid ul,
  section#date {
    padding: 0 13%;
  }
  main.grid ul:nth-child(3) {
    margin-top: 50px;
  }

  div#body section:nth-child(2):not(section#date) {
    max-width: 100%;
    float: unset;
  }
  /*-------------EVENTS-------------*/
  iframe.iframeVideo\ {
    bottom: -50px;
  }
  div#torneoOrganizer_story_content
    figure
    div
    iframe.iframeVideoPortrait.adjust {
    height: 911px;
    margin-top: -130px;
  }
  iframe.iframeVideoLandscape.laRoja {
    height: 990px;
    margin-top: -513px;
  }
  div#event_story,
  div#tenis_story,
  div#padel_story,
  div#torneos_story,
  div#tenisInstructor_story,
  div#torneoOrganizer_story,
  div#recreational_center {
    padding: 5%;
  }
  div#event_story > header,
  div#tenis_story > header,
  div#padel_story > header,
  div#torneos_story > header,
  div#tenisInstructor_story > header,
  div#torneoOrganizer_story > header,
  div#recreational_center header {
    top: -60px;
    right: 134px;
  }
  div#tenisInstructor_story > header > figure,
  div#torneoOrganizer_story > header > figure,
  div#recreational_center > header > figure {
    right: -55px;
  }
  /*-------------Story - Content figure, h3, p, iframe -------------*/
  div#event_story_content figure,
  div#tenis_story_content figure,
  div#padel_story_content figure,
  div#torneos_story_content figure,
  div#tenisInstructor_story_content figure,
  div#torneoOrganizer_story_content figure,
  div#recreational_center_content figure {
    max-height: 650px;
  }
  div#tenisInstructor_story_content figure div iframe.iframeVideoPortrait {
    height: 725px;
  }
  div#tenis_story_content figure div iframe.iframeVideoPortrait {
    height: 1150px;
    margin-top: -600px;
  }
  div#padel_story_content figure div iframe.iframeVideoPortrait {
    height: 1000px;
  }
  iframe.iframeVideoPortrait.adjust {
    height: 1128px;
    margin-top: -582px;
  }
  /*-------------EVENTS  end-------------*/
  section#seOfrece div b {
    margin-left: 13%;
  }
  section#seOfrece div b {
    margin-left: 150px;
  }
  section#date a {
    width: auto;
    max-width: 817px;
    min-width: 678px;
  }
  section#tour {
    bottom: -400px;
    left: 0;
    right: 0;
  }
}
@media screen and (min-width: 2400px) {
  figure.wave img {
    top: -500px;
  }
  body div#body {
    top: 300px;
  }
  main h6,
  main div h6 {
    padding: 1% 10%;
    max-width: 2400px;
  }
  main#event_gallery.grid > div section.button {
    width: 90%;
  }
  div#body section:nth-child(2):not(section#date) {
    padding: 0 5%;
    max-width: 2400px;
    margin: 0 auto;
  }

  /*-------------EVENTS-------------*/
  iframe.iframeVideoLandscape {
    height: 600px;
  }
  iframe.iframeVideoPortrait.adjust.fernando {
    margin-top: -366px;
    height: 900px;
  }
  div#event_story > header,
  div#tenis_story > header,
  div#padel_story > header,
  div#torneos_story > header,
  div#tenisInstructor_story > header,
  div#torneoOrganizer_story > header,
  div#recreational_center header {
    top: -60px;
    right: 160px;
  }

  div#event_story_content,
  div#tenis_story_content,
  div#padel_story_content,
  div#torneos_story_content {
    height: 850px;
  }
  main.grid ul,
  div#event_story_content,
  div#tenis_story_content,
  div#padel_story_content,
  div#torneos_story_content,
  div#tenisInstructor_story_content,
  div#torneoOrganizer_story_content,
  div#recreational_center_content {
    max-width: 2400px;
  }
  div#event_story_content figure,
  div#tenis_story_content figure,
  div#padel_story_content figure,
  div#torneos_story_content figure,
  div#tenisInstructor_story_content figure,
  div#torneoOrganizer_story_content figure,
  div#recreational_center_content figure {
    max-height: 850px;
  }
  div#tenis_story_content figure img {
    object-position: 50% 30%;
  }
  div#torneos_story_content figure img.catA {
    object-position: 50% 38%;
  }
  div#tenis_story_content div {
    margin-top: -155px;
  }
  div#tenis_story_content div {
    margin-top: 15px;
  }
  div#tenisInstructor_story_content figure div iframe.iframeVideoPortrait {
    height: 835px;
  }
  div#tenis_story_content figure div iframe.iframeVideoPortrait {
    margin-top: -575px;
    height: 1083px;
  }
  div#tenis_story_content figure img.adjustCenter {
    object-position: 50% 50%;
  }
  div#padel_story_content figure div iframe.iframeVideoPortrait {
    margin-top: -565px;
    height: 1100px;
  }
  div#padel_story_content figure div iframe.iframeVideoPortrait.adjust {
    margin-top: -328px;
    height: 871px;
  }
  /*-------------EVENTS end-------------*/
  main.grid ul,
  section#date {
    padding: 0 10%;
  }
  section#date a {
    width: 817px;
  }
}
