/*-----------------------Grids ----*/
main ul,
section#actividades ul {
  display: grid;

  grid-gap: 5px;
  width: 100%;
  padding: 0;
  max-width: 992px;
  margin: 0 auto 35px auto;
  position: relative;
}
main ul {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
section#actividades ul {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

main ul li figure,
section#actividades ul li figure {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0.25px solid var(--grey);
  position: relative;
}
/*----------------------- Parallex Mas ----*/
.parallex-section {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  top: -90px;
}
.parallex {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  display: block;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  height: 490px;
  background-position: left 0px bottom 0px;
}
.parallex-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.parallex-section > div a {
  padding: 3%;
  position: sticky;
  top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#parallex-set-1 {
  background: url('../images/lampa.png') no-repeat top center / 100% 100%;
  background-size: cover;
  width: 100%;
}

.parallex-section > div a h2:hover {
  color: var(--lime);
  text-shadow: 1px 1px 2px #dcdcdc;
  cursor: pointer;
  margin: 0 auto 3% auto;
}

/*-----------------------Actividades ----*/
section#actividades {
  height: auto;
  position: relative;
  top: -45px;
  margin-bottom: -17%;
}
@media screen and (min-width: 576px) {
  .parallex-section {
    top: -80px;
  }
}
@media screen and (min-width: 768px) {
  section#actividades {
    top: -15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  main ul li:last-child figure img,
  section#actividades ul li:nth-child(4) figure a img,
  section#actividades ul li:last-child figcaption {
    width: 100vw;
  }
  main ul li:last-child figure img,
  section#actividades ul li:last-child figure a img {
    height: 350px;
  }

  main ul > *:nth-child(2n-1) {
    justify-self: center;
    text-align: center;
  }

  main ul > *:nth-child(2n) {
    justify-self: end;
    text-align: right;
  }

  main ul > *:nth-child(2n-1):nth-last-of-type(1) {
    grid-column: span 2;
  }

  main ul > *:nth-child(2n-2):nth-last-of-type(1) {
    grid-column: span 3;
  }
}
@media screen and (min-width: 992px) {
  .parallex-section {
    top: -190px;
  }
  section#actividades {
    height: 300px;
    margin-bottom: 0;
    top: -115px;
  }
}
