button {
  margin: -5px auto 0 auto;
}
/*----------------------- Parallex Mas ----*/
.parallex-section {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  top: -50px;
}
.parallex {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  display: block;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  height: 490px;
  background-position: left 0px bottom 0px;
}
.parallex-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.parallex-section > div a {
  padding: 3%;
  position: sticky;
  top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#parallex-set-1 {
  background: url('../images/lampa.png') no-repeat top center / 100% 100%;
  background-size: cover;
  width: 100%;
}

.parallex-section > div a h2:hover {
  color: var(--lime);
  text-shadow: 1px 1px 2px #dcdcdc;
  cursor: pointer;
  margin: 0 auto 3% auto;
}
/*-----------------------notification ----*/
div.notification {
  margin: -45px 0 100px 0;
  height: 0;
}
/*-----------------------Actividades ----*/
section#actividades > h6:first-letter {
  -webkit-initial-letter: 3 1;
  initial-letter: 3 1;
  color: var(--lime);
  font-weight: bold;
  margin-right: 0.75em;
}
@media screen and (min-width: 576px) {
  .parallex-section {
    top: -30px;
  }
}
@media screen and (min-width: 768px) {
  main h6 div {
    width: 100%;
    display: flex;
    height: auto;
  }
  button {
    margin: -5px auto 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  main ul li:last-child figure img {
    width: 100vw;
  }
  main ul li:last-child figure img {
    height: 350px;
  }

  main ul > *:nth-child(2n-1) {
    justify-self: center;
    text-align: center;
  }

  main ul > *:nth-child(2n) {
    justify-self: end;
    text-align: right;
  }

  main ul > *:nth-child(2n-1):nth-last-of-type(1) {
    grid-column: span 2;
  }

  main ul > *:nth-child(2n-2):nth-last-of-type(1) {
    grid-column: span 3;
  }
}
@media screen and (min-width: 992px) {
  .parallex-section {
    top: 25px;
  }
  div.notification {
    margin: 25px 0 25px 0;
  }
}
@media screen and (min-width: 1200px) {
  main {
    height: 775px;
  }
  #parallex-set-1 {
    background: url(../images/lampa.png) no-repeat top center / 100% 100%;
    background-size: cover;
    width: 100%;
    background-position: 50% bottom;
  }
}
@media screen and (min-width: 1400px) {
  figure.wave img {
    top: -230px;
  }
  main {
    height: 775px;
  }
  main.grid ul {
    max-width: 1400px;
  }
  button {
    margin: -5px auto 35px auto;
  }
}
@media screen and (min-width: 1600px) {
  figure.wave img {
    top: -305px;
  }
}
@media screen and (min-width: 1800px) {
  figure.wave img {
    top: -369px;
  }
}
@media screen and (min-width: 2000px) {
  figure.wave img {
    top: -436px;
  }
}
@media screen and (min-width: 2400px) {
  figure.wave img {
    top: -580px;
  }
}
