figure.wave h1 {
  height: 165px;
}
body div#body {
  z-index: -1;
  top: 130px;
}
main {
  top: 20px;
}
main#about p {
  position: relative;
  margin: 0 0 0 auto;
  padding: 3% 5% 0 5%;
  width: 90%;
  max-width: 980px;
  font-size: large;
  letter-spacing: 1px;
  text-align: justify;
}
section#actividades {
  top: 0;
  position: relative;
  height: auto;
  margin-bottom: 185px;
}
section#actividades h4 {
  width: 90%;
  color: var(--secondary-text-color);
  padding: 0 5%;
  text-align: center;
  font-size: 42px;
}
section#actividades > h6 {
  margin: -50px 0 25px auto;
  text-indent: unset;
}
section#actividades ul {
  margin: 0 auto 0 auto;
}
footer {
  bottom: -35px;
}
@media screen and (min-width: 576px) {
  figure.wave h1 {
    height: 80px;
  }
  body div#body {
    top: -24px;
  }
  section#actividades {
    top: 0;
  }
  section#actividades h4 {
    width: 100%;
    line-height: 1.4;
  }
  section#actividades > h6 {
    margin: -50px 0 20px auto;
  }
  section#actividades ul {
    margin: 0 auto 8px auto;
  }
  footer {
    bottom: -25px;
  }
}
@media screen and (min-width: 768px) {
  figure.wave h1 {
    top: 150px;
  }
  body div#body {
    top: 0;
  }
  main#about p {
    width: 100%;
  }
  section#actividades > h6 {
    margin: -35px auto 20px auto;
  }
  section#actividades {
    top: 35px;
    height: 1035px;
    margin-bottom: 0;
  }
  figure.footer-wave {
    bottom: -175px;
  }
  footer {
    bottom: -120px;
  }
}
@media screen and (min-width: 992px) {
  body div#body {
    top: -90px;
  }
  main {
    height: unset;
  }
  main#about p {
    max-width: unset;
  }
  section#actividades {
    top: 25px;
    padding-top: 15px;
    height: 585px;
    border: 5px solid red;
  }
  figure.footer-wave {
    bottom: -145px;
  }
  footer {
    bottom: -90px;
  }
}
@media screen and (min-width: 1200px) {
  body div#body {
    top: -150px;
  }
  main#about img {
    height: 500px;
    object-position: 50% 75%;
  }
  section#actividades {
    top: 25px;
  }
  figure.footer-wave {
    bottom: -157px;
  }
  footer {
    bottom: -95px;
  }
}
@media screen and (min-width: 1400px) {
  body div#body {
    top: -255px;
  }
  main#about img {
    height: 600px;
  }
  footer {
    bottom: -90px;
  }
}
@media screen and (min-width: 1600px) {
  body div#body {
    top: -325px;
  }
  main#about img {
    height: 550px;
    object-position: 50% 67%;
    padding: 0 5%;
  }
  figure.footer-wave {
    bottom: -148px;
  }
}
@media screen and (min-width: 1800px) {
  body div#body {
    top: -390px;
  }
  section#actividades {
    height: 560px;
  }
}
@media screen and (min-width: 2000px) {
  body div#body {
    top: -458px;
  }
  main#about img {
    height: 700px;
  }
}
@media screen and (min-width: 2400px) {
  body div#body {
    top: -590px;
  }
  main#about img {
    height: 835px;
  }
  figure.footer-wave {
    bottom: -155px;
  }
}
