@-ms-viewport {
  width: device-width;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #cbcbcb;
  --shadow: #565656;
  --light-border: #ebebeb;
  --red: #db3739;
  --lime: #80cd28;
  --green: #40b93f;
  --primary-color: var(--red);
  --accent-color: var(--lime);
  --secondary-color: var(--green);
  --header-text: var(--white);
}
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
  border: 3px;
  font: normal normal normal 16px / 1.6 'Raleway', sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
body div#body {
  position: relative;
  top: 250px;
  flex: 1;
  z-index: -1;
}
h1 {
  font: normal normal 900 72px/1.2 'Raleway', sans-serif;
  color: var(--header-text);
}
h2 {
  font: normal normal bold 64px/1.2 'Raleway', sans-serif;
  color: var(--header-text);
}

h3 {
  font: normal normal 300 38px/1.2 'Raleway', sans-serif;
  color: var(--header-text);
}

h4 {
  font: normal normal bold 26px/1.6 'Bodoni 72', serif;
  color: var(--header-text);
}
h4 em {
  font: normal normal bold 26px/1.6 'Bodoni 72', serif;
  color: var(--header-text);
}
h5 {
  font: normal normal bold 22px/1.6 'Bodoni 72', serif;
  color: var(--header-text);
}
h5 em,
button {
  font: normal normal 300 22px/1.6 'Raleway', sans-serif;
  color: var(--header-text);
}
h6 {
  font: normal normal 900 18px/1.6 'Raleway', sans-serif;
  color: var(--header-text);
}

p b {
  font: normal normal bold 16px/1 'Raleway', sans-serif;
}
p {
  color: var(--black);
}
p em {
  color: var(--white);
}
nav a,
ul li a,
a {
  text-decoration: none;
  cursor: pointer;
}
ul li {
  list-style: none;
  display: flex;
  align-items: start;
  gap: 12px;
  width: 100%;
  padding: 10px 0;
}
img:not(img.nav-icon) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
img.nav-icon {
  order: 0;
}
body > header.scroll-in-place {
  background-color: transparent;
  filter: drop-shadow(2px 4px 6px var(--shadow));
}
body > header.scroll-in-place.nav-scroll {
  background-color: var(--primary-color);
  filter: drop-shadow(2px 4px 6px black);
}
/*-----------------------Header ----*/
body > header {
  position: fixed;
  top: 0;
  z-index: 3;
  padding: 1%;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

/*-----------------------logo & Menu----*/
body > header#top figure {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0 0 0 1%;
}
body > header#top figure img {
  width: 100%; /*120px by 120px */
}
body > header#top figure:nth-child(1) {
  position: absolute;
  left: 65px;
}
body > header#top figure:nth-child(2) {
  padding: 1%;
  margin-right: 3%;
  width: 50px;
  position: absolute;
  left: 0;
}
/*-----------------------nav ----*/
/* body > header > nav {
  display: none;
} */
nav {
  /* overflow: hidden; */
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  position: fixed;
}
nav ul.list.min {
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5% 2% 5% 2%;
  background-color: #c22f30;
  position: relative;
  top: 258px;
  left: 0;
  width: 13vw;
}
nav ul.list.min.max {
  top: 258px;
  width: 100vw;
}
nav ul.list.min.top255 {
  top: 332px;
}
nav ul.list.min > li:first-child {
  gap: unset;
}
nav ul li a {
  float: left;
  font-size: 16px;
  color: var(--white);
  white-space: nowrap;
}
nav ul li a h6 {
  margin: 0;
}
.nav-link {
  display: none;
}
.nav-link.show {
  display: block;
}

.dropdown .dropbtn,
button {
  border: none;
  outline: none;
  color: var(--white);
  background-color: inherit;
  font-family: inherit;
  /* font-weight: 900; */
  margin: 0;
}
button {
  background-color: var(--primary-color);
  padding: 15px 0;
  border-radius: 10px;
  margin: 0 auto 35px auto;
  width: 98%;
}

.dropdown:hover .dropbtn,
button:hover {
  color: var(--accent-color);
  filter: drop-shadow(1px 1px 1px var(--shadow));
  border-bottom: 3px solid var(--accent-color);
}
nav ul li.dropdown div.dropdown-content a h6:hover,
nav a h6:active {
  background: -webkit-radial-gradient(
    left,
    var(--white),
    var(--secondary-color),
    var(--black)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 1px 1px var(--shadow));
}

.dropdown-content {
  position: relative;
  margin: 37px 0 -10px -40px;
  height: 150px;
  display: block;
}
.dropdown-content.modifyMargin {
  margin-left: -135px;
}
.dropdown-content ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 0;
}
/*-----------------------wave ----*/
figure.wave {
  position: relative;
  top: 0;
  width: 100%;
  margin: 0;
}
figure.wave h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  top: 100px;
  margin: 0 auto 35px auto;
  filter: drop-shadow(1px 1px 2px var(--shadow));
}
/*-----------------------main ----*/
main {
  height: auto;
  position: relative;
  top: -90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
/* main h1 {
  position: relative;
  margin: 0 auto 35px auto;
  filter: drop-shadow(1px 1px 2px var(--shadow));
  text-align: center;
} */
main h4 {
  position: relative;
  margin: 0 0 45px auto;
  color: var(--black);
  width: 82%;
  max-width: 980px;
  font-size: x-large;
  letter-spacing: 0.5px;
  filter: drop-shadow(1px 1px 1px var(--light-border));
}
/*-----------------------Activities ----*/

section#actividades ul {
  display: grid;
  grid-gap: 5px;
  width: 100%;
  padding: 0;
  max-width: 992px;
  margin: 0 auto 35px auto;
  position: relative;
}

section#actividades ul {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

section#actividades ul li figure {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0.25px solid var(--grey);
  position: relative;
}
section#actividades > h5 {
  color: var(--black);
  width: 85%;
  margin: 0 0 35px auto;
  text-indent: 0px;
  position: relative;
  max-width: 980px;
  letter-spacing: 0.5px;
}
section#actividades ul li figure {
  width: auto;
  height: 250px;
  min-height: 165px;
  margin: 0;
  border: 0.25px solid var(--grey);
  position: relative;
}
section#actividades ul li:nth-child(4) figure a img {
  object-position: 65% 50%;
}
section#actividades ul li figure figcaption {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#actividades ul li figure figcaption a h5 {
  color: var(--white);
}
/*-----------------------tour ----*/
section#tour h4 {
  /* color: var(black); */
}
section#tour ul {
  display: flex;
  grid-gap: 5px;
  width: 100%;
  padding: 0;
  /* max-width: 992px; */
  margin: 0 auto 35px auto;
  position: relative;
  overflow: hidden;
}
section#tour ul li {
  position: relative;
  left: 0;
  width: 800%;
  -webkit-animation: loop 55s infinite;
  -moz-animation: loop 55s infinite;
  /* -webkit-animation: slidey 30s infinite;
  animation: slidey 30s infinite; */
}
section#tour ul li figure {
  width: 255px;
  height: 125px;
  margin: 0;
  border: 0.25px solid var(--grey);
  position: relative;
}
section#tour ul li:nth-last-child(2) figure img {
  object-position: 50% 70%;
}
section#tour {
  height: auto;
  position: relative;
  top: 0;
  margin-bottom: -3%;
  letter-spacing: 0.5px;
}
section#tour > h4 {
  color: var(--primary-color);
  width: 85%;
  margin: 0 0 15px auto;
  text-indent: 0px;
  position: relative;
  max-width: 980px;
}
/*-----------------------keyframes ----*/
@-webkit-keyframes loop {
  0% {
    left: 0;
  }
  5% {
    left: 0;
  }
  15% {
    left: 0;
  }
  20% {
    left: -15em;
  }
  25% {
    left: -15em;
  }
  30% {
    left: -15em;
  }
  35% {
    left: -30em;
  }
  40% {
    left: -30em;
  }
  46% {
    left: -30em;
  }
  50% {
    left: -45em;
  }
  58% {
    left: -45em;
  }
  60% {
    left: -45em;
  }
  66% {
    left: -60em;
  }
  70% {
    left: -60em;
  }
  78% {
    left: -60em;
  }
  80% {
    left: -75em;
  }
  88% {
    left: -75em;
  }
  91% {
    left: -75em;
  }
  95% {
    left: -95em;
  }
  100% {
    left: -95em;
  }
}
@-moz-keyframes loop {
  0% {
    left: 0;
  }
  5% {
    left: 0;
  }
  15% {
    left: 0;
  }
  20% {
    left: -15em;
  }
  25% {
    left: -15em;
  }
  30% {
    left: -15em;
  }
  35% {
    left: -30em;
  }
  40% {
    left: -30em;
  }
  46% {
    left: -30em;
  }
  50% {
    left: -45em;
  }
  58% {
    left: -45em;
  }
  60% {
    left: -45em;
  }
  66% {
    left: -60em;
  }
  70% {
    left: -60em;
  }
  78% {
    left: -60em;
  }
  80% {
    left: -75em;
  }
  88% {
    left: -75em;
  }
  91% {
    left: -75em;
  }
  95% {
    left: -95em;
  }
  100% {
    left: -95em;
  }
}

/*-----------------------footer ----*/
figure.footer-wave {
  display: none;
}
footer {
  height: 200px;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}
footer div {
  display: flex;
  align-items: start;
  margin: 5px 0 0 0;
  gap: 0 10px;
  position: relative;
  flex-direction: column;
}
footer section {
  width: 100%;
  position: relative;
}
footer section:first-child {
  display: flex;
  align-items: center;
  margin: 0;
  height: 130px;
  width: 100%;
}
footer section:first-child > figure {
  width: 65px;
  height: auto;
  position: relative;
  margin: 0 6px 0 1%;
}
footer section:first-child > div address {
  color: var(--white);
  filter: drop-shadow(0px 1px 0.5px #939292);
  font-style: normal;
  font-size: 14px;
}
footer section:first-child > div div {
  margin-left: 0;
}
/* footer section:first-child > div div p {
  color: var(--black);
} */
footer section:last-child {
  display: flex;
  justify-content: center;
  width: 280px;
}
footer section:last-child ul {
  display: flex;
  grid-gap: 10px;
}
footer section#socialM ul li {
  list-style: none;
  width: 40px;
}
footer section#socialM ul li a figure {
  width: 26px;
  height: 26px;
  margin: 0;
}

@media screen and (min-width: 576px) {
  nav ul.list.min.max {
    width: 50vw;
  }
  figure.wave h1 {
    top: 100px;
  }
  body div#body {
    top: 100px;
  }
  /* main h1 {
    margin: 0 auto 35px 75px;
  } */
  button {
    padding: 15px 50px;
    width: auto;
  }
  section#actividades ul {
    margin: 0 auto 80px auto;
  }
  section#tour > h4 {
    width: 88%;
    font-size: xx-large;
    text-align: center;
  }
  section#tour {
    margin-bottom: -8%;
  }
  section#tour ul {
    margin: 0 auto 80px auto;
  }
}
@media screen and (min-width: 768px) {
  body > header#top {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }
  body > header#top figure:nth-child(1) {
    left: 0;
    width: 250px;
  }
  body > header figure {
    height: 40px;
  }
  body > header#top figure:nth-child(2),
  nav#navList ul > li:first-child,
  nav#navList ul > li:last-child > img {
    display: none !important;
  }
  /*-----------------------nav ----*/
  body > header nav#navList {
    display: flex !important;
    right: 0;
    width: calc(100% - 300px);
  }
  body > header > nav#navList ul.list.min {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 35px;
    gap: 20px;
    top: 0;
    right: 0;
    overflow: scroll;
    background-color: unset;
  }
  figure.wave h1 {
    top: 135px;
  }
  body div#body {
    top: 55px;
  }
  main h1 {
    margin: 0 auto 35px auto;
  }
  main h4 {
    position: relative;
    margin: 0 auto 45px auto;
  }
  section#actividades > h5 {
    text-indent: 50px;
    margin: 0 auto 55px auto;
  }
  section#actividades ul {
    margin: 0 auto 175px auto;
  }
  section#tour {
    top: 105px;
    margin-bottom: 23%;
  }
  section#tour > h4 {
    width: 88%;
    color: var(--primary-color);
    margin: 0 auto 39px auto;
    font-family: Raleway;
    font-weight: 900;
    font-size: 34px;
    text-align: center;
  }
  section#tour ul {
    margin: 0 auto 115px auto;
  }
  figure.footer-wave {
    display: block;
    position: absolute;
    bottom: -61px;
    left: -40px;
    width: 100%;
    overflow: hidden;
  }
  figure.footer-wave img {
    width: 120%;
  }

  footer {
    height: 65px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: unset;
  }
  footer section:first-child {
    height: 110px;
    position: absolute;
  }
  footer section:last-child {
    position: absolute;
    right: 0;
  }
  footer div {
    margin: 0;
    gap: unset;
  }
  footer section:first-child > div address,
  footer section:first-child > div div {
    margin-top: -5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  section#actividades ul li:nth-child(4) figure a img,
  section#actividades ul li:last-child figcaption {
    width: 100vw;
  }
  section#actividades ul li:last-child figure a img {
    height: 350px;
  }
  section#actividades ul > *:nth-child(3n-1) {
    justify-self: center;
    text-align: center;
  }
  section#actividades ul > *:nth-child(3n) {
    justify-self: end;
    text-align: right;
  }
  section#actividades ul > *:nth-child(3n-1):nth-last-of-type(1) {
    grid-column: span 2;
  }
  section#actividades ul > *:nth-child(3n-2):nth-last-of-type(1) {
    grid-column: span 3;
  }
}
@media screen and (min-width: 992px) {
  nav ul {
    align-items: center;
  }
  .dropdown-content {
    position: absolute;
    background-color: var(--grey);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 10px;
  }
  body div#body {
    top: 120px;
  }
  main {
    top: -205px;
  }
  section#tour {
    height: 300px;
    margin-bottom: 65px;
    top: 150px;
  }
  section#tour > h4 {
    width: 70%;
  }
  /*-----------------------footer ----*/
  figure.footer-wave {
    position: relative;
    bottom: -85px;
    height: 176px;
    width: 100%;
    margin: 0;
    z-index: -1;
    display: block;
  }
  figure.footer-wave img {
    width: 95%;
  }
  footer {
    height: 65px;
    background-color: transparent;
    flex-direction: row;
  }
  footer div {
    align-items: start;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    flex-wrap: wrap;
  }
  footer div p {
    width: 100%;
    margin: 5px;
  }
  footer section:first-child {
    width: calc(100% - 280px);
    height: 40px;
  }
  footer section:first-child div > p b {
    font-size: larger;
  }
  footer section:first-child > div address {
    margin-top: 0px;
  }
  footer section:first-child > div div {
    margin-left: 0;
    top: -15px;
  }
  footer section:first-child > div div p b {
    color: var(--black) !important;
  }
}
@media screen and (min-width: 1200px) {
  img:not(img.nav-icon):not(main#about img):not(figure.footer-wave img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  body > header nav#navList {
    width: 60%;
    max-width: 725px;
  }
  figure.wave h1 {
    top: 150px;
  }
  body div#body {
    top: 60px;
  }
  main h4 {
    margin: 0 auto 25px auto;
  }
  section#tour {
    margin-bottom: 10px;
  }
  section#tour > h4 {
    width: 75%;
  }
  figure.footer-wave img {
    width: 75%;
  }
  footer section:first-child > div {
    width: 77%;
  }
}
@media screen and (min-width: 1400px) {
  body div#body {
    top: -15px;
  }
  footer section:first-child > div {
    width: 72%;
  }
}
@media screen and (min-width: 1600px) {
  body div#body {
    top: -85px;
  }
  section#tour {
    margin-bottom: 20px;
  }
  footer section:first-child > div {
    width: 70%;
  }
}
@media screen and (min-width: 1800px) {
  body div#body {
    top: -143px;
  }
  section#tour {
    margin-bottom: 32px;
  }
  footer section:first-child > div {
    width: 67%;
  }
}
@media screen and (min-width: 2000px) {
  body div#body {
    top: -215px;
  }
  footer section:first-child > div {
    width: 65%;
  }
}
@media screen and (min-width: 2400px) {
  body div#body {
    top: -343px;
  }
  section#tour {
    margin-bottom: 60px;
  }
  figure.footer-wave img {
    width: 70%;
  }
  footer section:first-child > div {
    width: 62%;
  }
}
